<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        <div class="social-handles">
            <span>instagram</span>
            <span>facebook</span>
            <span>twitter</span>
        </div>
        <div class="copyright">Copyright 2025</div>
        <div class="footer-links"><a href="#">Terms & conditions</a>
        <a href="#">Policy</a>
        </div>
    </div>
</body>
</html>