<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <div class="logo"><a href="/listing">Home</a></div>
        <div class="all_listings"><a href="/listing">All Listings</a></div>
        <div class="add_new_listings"><a href="/listing/new">Add new Listing</a></div>
    </div>
</body>
</html>